:root {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --thirdty-color: #948979;
  --fourty-color: #dfd0b8;
  --fivety-color: #e5e0d8;
  --sixty-color: #f8f8f8;

  --delete-color: #dc3545;
  --delete-color-hover: #c82333;

  --edit-color: #ffc107;
  --edit-color-hover: #e0a800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    padding: 2rem 0;
    width: 90%;
  }
}

h1 {
  font-family: "Panchang", sans-serif;
  font-size: 6rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: var(--sixty-color);
  margin-bottom: 25px;
}

.input-container,
.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

#taskInput,
#dateInput,
#searchBar {
  font-family: "Satoshi", sans-serif;
  flex-grow: 1;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 2rem;
}

button {
  font-family: "Satoshi", sans-serif;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  color: var(--sixty-color);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

#addButton,
.editButton {
  background-color: var(--edit-color);
}

#addButton:hover,
.editButton:hover {
  background-color: var(--edit-color-hover);
}

.deleteButton,
#deleteAllButton {
  background-color: var(--delete-color);
}

.deleteButton:hover,
#deleteAllButton:hover {
  background-color: var(--delete-color-hover);
}

#taskList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  overflow-y: scroll;
  height: 40vh;
  padding: 0;
}

#taskList::-webkit-scrollbar {
  width: 1rem;
}

#taskList::-webkit-scrollbar-track {
  border-radius: 10px;
}

#taskList::-webkit-scrollbar-thumb {
  background: var(--fourty-color);
  border-radius: 10px;
}

#taskList::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

#taskList li {
  background-color: var(--fivety-color);
  padding: 2rem 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

#taskList li:hover {
  background-color: var(--fourty-color);
}

.task-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.task-text {
  font-size: 3rem;
  font-family: "Satoshi", sans-serif;
  color: var(--primary-color);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  flex-grow: 1;
  word-break: break-word;
}

.task-date {
  font-size: 2rem;
  color: var(--secondary-color);
  white-space: nowrap;
}

.task-actions {
  display: flex;
  gap: 1rem;
}

.task-actions button {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
}

/* Responsif */
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }

  .task-text {
    font-size: 1.5rem;
  }

  .task-date {
    font-size: 1rem;
  }

  #taskList {
    grid-template-columns: 1fr;
  }

  .input-container,
  .controls {
    flex-direction: column;
  }

  .task-actions button {
    font-size: 1rem;
  }

  .task-actions {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #taskList li {
    padding: 1rem;
  }

  button,
  #taskInput,
  #dateInput,
  #searchBar {
    width: 100%;
    font-size: 1rem;
  }
  .task-actions {
    margin-left: 0;
    margin-top: 10px;
  }
  #taskList li {
    flex-direction: column;
    align-items: flex-start;
  }
  .task-date {
    margin-left: 0;
    margin-top: 5px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--delete-color-hover);
  padding: 2rem 0;
}

footer h2 {
  font-size: 2rem;
  font-family: "Panchang", sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: var(--sixty-color);
}
